html,body{
    background-color: #9CE4FF;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
h1{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #286880;
    font-size: 50px;
    text-shadow: 2px 2px 0px #FFFFFF;
}

input {
    width: 50%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

select {
    width: 50%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

button {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #4E7280; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#addDrink td, #addDrink th {
    border: 1px solid #ddd;
    padding: 8px;
}

#addDrink tr:nth-child(even){
    background-color: beige;
}

#addDrink tr:hover{
    background-color: #ddd;
}

#addDrink {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #4E7280;
    color: white;
    font-weight: bolder;
    width: 75%;
}

#drinkTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #4E7280;
    color: white;
    width: 75%;
}

#drinkTable td, #addDrink td {
    border: 1px solid #ddd;
    padding: 8px;
}

#drinkTable tr:nth-child(even){
    background-color: beige;
}

#drinkTable tr:hover{
    background-color: #ddd;
}





