html,body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #ADEBFF;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 75px;
}
h1 {
    font-weight: bold;
    font-size: 70px;
    color: white;
    padding: 5px;
    margin: 0;
}
h2{
    font-weight: bold;
    color: #577580;
    font-size: 50px;
    text-shadow: 1px 1px 0px #FFFFFF;
}
h3{
    font-weight: bolder;
    color: #577580;
    font-size: 30px;
}

input {
    width: 40%;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    border: none;
    background-color: transparent;
}

select {
    width: 50%;
    font-weight: bolder;
    color: black;
    text-align: center;
}

button {
    font-weight: bolder;
    background-color: #3C6F80;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 black;
}

header {
    background-color: white;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    box-shadow: 0 0 25px 0 black;
}

header *, aside * {
    display: inline;
}


header ul, aside ul {
    list-style-type: none;
    overflow: hidden;

}
header li{
    float: left;
    height: 100%;
    margin: 20px;
}

aside li {
    float: left;
    height: 100%;
    padding: 0;
}

header li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    display: block;
    line-height: 100px;
    text-align: center;
    padding: 0px 10px;
}

header li a:hover:not(.active) {
    color:white;
    background-color: #3C6F80;
}

header img {
    height: 70px;
    margin: 30px;
}

aside {
    position: fixed;
    background-color: white;

    box-shadow: 0 0 10px 0 black;
    width: available;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

aside li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    display: block;
    line-height: 50px;
    text-align: center;
    padding: 0px 10px;
}

aside li a:hover:not(.active) {
    color:white;
    background-color: #3C6F80;
}

footer {
    align-self: center;
    width: fit-content;
    height: fit-content;
    margin: 5%;
    background-color: white;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    justify-content: center;

}
footer img {
    height: 120px;
    margin: 20px;
}

footer div {
    padding: 2%;
    text-align: center;
    font-weight: bolder;
}
footer p {
    text-align: center;
    font-weight: bolder;
    margin: 5%;
    font-size: 17px;
}

span {
    color: black;
    font-weight: bolder;
    font-size: 15px;
}

table {
    box-shadow: 0 0 10px 0 black;
}

select {
    width: auto;
    font-size: 15px;
    font-weight: bolder;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 0 0 2px #3C6F80;
    border-radius: .5em;
    margin-left: 10px;
}

#select_av_abrechnung {
    width: 20%;
    font-size: 18px;
}

td {
    font-size: 15px;
}

.active{
    color: white;
    background-color: #3C6F80;
}

.sortFields {
    cursor: pointer;
    width: 100%;
}

.snackSortFields {
    cursor: pointer;
    width: 100%;
}
.skListeCategory, .avInnenListeCategory, .avAußenListeCategory, .avAbrechnungAussenCategory, .avAbrechnungInnenCategory {
    background-color: lightgray;
    font-style: italic;
}

#addDrink td, #addDrink th, #snackTable td, #snackTable th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bolder;
}

#addDrink tr:nth-child(even), #snackTable tr:nth-child(even){
    background-color: beige;
}

#addDrink tr:hover, #snackTable tr:hover{
    background-color: #ddd;
}

#addDrink, #snackTable{
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #3C6F80;
    color: white;
    font-weight: bolder;
    width: 75%;
}

#drink, #snackName {
    width: 100%;
}

#drinkTable, #snackDataBase, #avGeldzaehlen, #avVerkaufAbrechnungStrichlisteAussen, #avVerkaufAbrechnungStrichlisteInnen{
    font-weight: bold;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #3C6F80;
    color: white;
    width: 75%;
}

#skListeSchnaps, #skListeRest, #avAußen, #avInnen {
    font-weight: bold;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #3C6F80;
    color: white;
    width: 95%;
}

#drinkTable td, #addDrink td, #snackTable td, #snackDataBase td, #avGeldzaehlen td,
#avVerkaufAbrechnungStrichlisteInnen td, #avVerkaufAbrechnungStrichlisteAussen td {
    border: 1px solid #ddd;
    padding: 8px;
}

#skListeSchnaps td, #skListeRest td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 10px;
}

#avAußen td {
    border: 1px solid #ddd;
    padding: 3px;
    font-size: 10px;
}

#avInnen td {
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 10px;
}


#snackDataBase tr:first-child, #drinkTable tr:first-child, #skListeSchnaps tr:first-child,
#skListeRest tr:first-child, #avAußen tr:first-child, #avInnen tr:first-child,
#avGeldzaehlen tr:first-child, #avVerkaufAbrechnungStrichlisteAussen tr:first-child, #avVerkaufAbrechnungStrichlisteInnen tr:first-child{
    background-color: #3C6F80;
    color: white;
    font-weight: bold;
}


#snackDataBase tr, #drinkTable tr, #skListeSchnaps tr, #skListeRest tr, #avAußen tr, #avInnen tr, #avGeldzaehlen tr,
#avVerkaufAbrechnungStrichlisteInnen tr, #avVerkaufAbrechnungStrichlisteAussen tr{
    background-color: beige;
    color:black;
    font-weight: bolder;
}

#snackDataBase span, #drinkTable span {
    color: white;
    text-align: center;
}

#snackDataBase img, #drinkTable img {
    width: 50px;
}


@media screen and ( max-width: 800px ) {
    header {
        display: none;
    }

    td {
        font-size: 8px;
        padding: 0;
    }
    span {
        font-size: 8px;
        padding: 0;
    }
    input {
        font-size: 8px;
    }
    select {
        font-size: 8px;
    }
    .sortFields {
        width: 50%;
    }
    #addDrink td, #addDrink th, #snackTable td, #snackTable th {
        padding: 1px;
        text-align: center;
        font-weight: bolder;
    }
    #drinkTable td, #addDrink td, #snackTable td, #snackDataBase td {
        padding: 1px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
    button {
        font-size: 8px;
    }
    footer p {
        font-size: 12px;
    }
    html, body {
        margin-top: 30px;
    }
    aside li a {
        font-size: 12px;
        line-height: 25px;
        padding: 0px 4px;
    }
}

@media screen and ( max-width: 950px ) {
    #drinkTable {
        width: 80%;
    }
    #addDrink {
        width: 80%;
    }
    header {
        height: 55px;
    }
    header img {
        height: 35px;
        margin: 15px;
    }
    header li {
        margin: 1px;
    }
    header li a {
        line-height: 55px;
        font-size: 15px;
        padding: 0px 8px;
    }
    td {
        font-size: 9px;
        padding: 0;
    }
    span {
        font-size: 9px;
        padding: 0;
    }
    input {
        font-size: 9px;
    }
    select {
        font-size: 9px;
    }
    .sortFields{
        width: 60%;
    }
    #addDrink td, #addDrink th, #snackTable td, #snackTable th {
        padding: 2px;
        text-align: center;
        font-weight: bolder;
    }
    #drinkTable td, #addDrink td, #snackTable td, #snackDataBase td {
        padding: 2px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 40px;
    }
    button {
        font-size: 9px;
    }
    footer p {
        font-size: 13px;
    }
    html, body {
        margin-top: 40px;
    }
    aside li a {
        font-size: 15px;
        line-height: 28px;
        padding: 0px 5px;
    }
    #select_av_abrechnung {
        font-size: 10px;
    }
}

@media screen and ( max-width: 1100px ) and ( min-width: 951px ) {
    #drinkTable {
        width: 80%;
    }
    #addDrink {
        width: 80%;
    }
    header {
        height: 65px;
    }
    header img {
        height: 45px;
        margin: 20px;
    }
    header li {
        margin: 6px;
    }
    header li a {
        line-height: 65px;
        font-size: 16px;
        padding: 0px 10px;
    }
    td {
        font-size: 10px;
        padding: 0;
    }
    span {
        font-size: 10px;
        padding: 0;
    }
    input {
        font-size: 10px;
    }
    select {
        font-size: 10px;
    }
    .sortFields {
        width: 70%;
    }
    #addDrink td, #addDrink th, #snackTable td, #snackTable th {
        padding: 3px;
        text-align: center;
        font-weight: bolder;
    }
    #drinkTable td, #addDrink td, #snackTable td, #snackDataBase td {
        padding: 3px;
    }
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 42px;
    }
    button {
        font-size: 10px;
    }
    footer p {
        font-size: 14px;
    }
    html, body {
        margin-top: 50px;
    }
    aside li a {
        font-size: 16px;
        line-height: 33px;
        padding: 0px 6px;
    }
    #select_av_abrechnung {
        font-size: 12px;
    }
}

@media screen and ( max-width: 1300px ) and ( min-width: 1101px ) {
    #drinkTable {
        width: 80%;
    }
    #addDrink {
        width: 80%;
    }
    header {
        height: 75px;
    }
    header img {
        height: 50px;
        margin: 23px;
    }
    header li {
        margin: 11px;
    }
    header li a {
        line-height: 75px;
        font-size: 17px;
        padding: 0px 10px;
    }
    td {
        font-size: 11px;
        padding: 0;
    }
    span {
        font-size: 11px;
        padding: 0;
    }
    input {
        font-size: 11px;
    }
    select {
        font-size: 11px;
    }
    .sortFields {
        width: 80%;
    }
    #addDrink td, #addDrink th, #snackTable td, #snackTable th {
        padding: 4px;
        text-align: center;
        font-weight: bolder;
    }
    #drinkTable td, #addDrink td, #snackTable td, #snackDataBase td {
        padding: 4px;
    }
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 45px;
    }
    button {
        font-size: 11px;
    }
    footer p {
        font-size: 15px;
    }
    html, body {
        margin-top: 60px;
    }
    aside li a {
        font-size: 17px;
        line-height: 37px;
        padding: 0px 6px;
    }
    #select_av_abrechnung {
        font-size: 14px;
    }
}

@media screen and ( max-width: 1500px ) and ( min-width: 1301px ) {
    #drinkTable {
        width: 75%;
    }
    #addDrink {
        width: 75%;
    }
    header {
        height: 80px;
    }
    header img {
        height: 60px;
        margin: 27px;
    }
    header li {
        margin: 15px;
    }
    header li a {
        line-height: 80px;
        font-size: 16px;
        padding: 0px 10px;
    }
    td {
        font-size: 12px;
        padding: 0;
    }
    span {
        font-size: 12px;
        padding: 0;
    }
    input {
        font-size: 12px;
    }
    select {
        font-size: 12px;
    }
    .sortFields {
        width: 90%;
    }
    #addDrink td, #addDrink th, #snackTable td, #snackTable th {
        padding: 5px;
        text-align: center;
        font-weight: bolder;
    }
    #drinkTable td, #addDrink td, #snackTable td, #snackDataBase td {
        padding: 5px;
    }
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 50px;
    }
    button {
        font-size: 12px;
    }
    footer p {
        font-size: 16px;
    }
    html, body {
        margin-top: 70px;
    }
    aside li a {
        font-size: 19px;
        line-height: 40px;
        padding: 0px 8px;
    }
    #select_av_abrechnung {
        font-size: 13px;
    }
}

@media screen and ( max-width: 1700px ) and ( min-width: 1501px ) {
    #drinkTable {
        width: 75%;
    }
    #addDrink {
        width: 75%;
    }
    header {
        height: 85px;
    }
    header img {
        height: 78px;
        margin: 30px;
    }
    header li {
        margin: 24px;
    }
    header li a {
        line-height: 85px;
        font-size: 19px;
        padding: 0px 10px;
    }
    aside li a {
        font-size: 19px;
        line-height: 43px;
        padding: 0px 8px;
    }
    #select_av_abrechnung {
        font-size: 16px;
    }

}






