html,body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #ADEBFF;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 100px;
}
h1 {
    font-weight: bold;
    font-size: 70px;
    color: white;
    padding: 5px;
    margin: 0;
}
h2{
    font-weight: bold;
    color: #577580;
    font-size: 50px;
    text-shadow: 1px 1px 0px #FFFFFF;
}


input {
    width: 40%;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    border: none;
    background-color: transparent;
}

select {
    width: 50%;
    font-weight: bolder;
    color: black;
    text-align: center;
}

button {
    font-weight: bolder;
    background-color: #3C6F80;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 black;
}

header {
    background-color: white;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}
header li {
    float: left;
    height: 100%;
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    display: block;
    line-height: 100px;
    text-align: center;
    padding: 0px 10px;
}

header li a:hover:not(.active) {
    color:white;
    background-color: #3C6F80;
}

header img {
    height: 70px;
    margin: 30px;
}
footer {
    align-self: center;
    width: fit-content;
    height: fit-content;
    margin: 5%;
    background-color: white;
    box-shadow: 0 0 25px 0 black;
    display: flex;
    justify-content: center;

}
footer img {
    height: 120px;
    margin: 20px;
}

footer div {
    padding: 2%;
    text-align: center;
    font-weight: bolder;
}
footer p {
    text-align: center;
    font-weight: bolder;
    margin: 5%;
}

span {
    color: black;
    font-weight: bolder;
}

table {
    box-shadow: 0 0 10px 0 blacK;
}

select {
    width: auto;
    font-size: 15px;
    font-weight: bolder;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 0 0 2px #3C6F80;
    border-radius: .5em;
    margin-left: 10px;
}

.active{
    color: white;
    background-color: #3C6F80;
}

#addDrink td, #addDrink th, #snackTable td, #snackTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bolder;
}

#addDrink tr:nth-child(even), #snackTable tr:nth-child(even){
    background-color: beige;
}

#addDrink tr:hover, #snackTable tr:hover{
    background-color: #ddd;
}

#addDrink, #snackTable{
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #3C6F80;
    color: white;
    font-weight: bolder;
    width: 75%;
}

#drink, #snackName {
    width: 100%;
}

#drinkTable, #snackDataBase {
    font-weight: bold;
    border-collapse: collapse;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #3C6F80;
    color: white;
    width: 75%;
}

#drinkTable td, #addDrink td, #snackTable td, #snackDataBase td {
    border: 1px solid #ddd;
    padding: 8px;
}


#snackDataBase tr:first-child, #drinkTable tr:first-child {
    background-color: #3C6F80;
    color: white;
    font-weight: bold;
}

#snackDataBase tr, #drinkTable tr {
    background-color: beige;
    color:black;
    font-weight: bolder;
}




#drinkTable tr:hover, #snackDataBase tr:hover{
    background-color: #ddd;
}



@media screen and ( max-width: 800px ) {
    header {
        display: none;
    }
}

@media screen and ( max-width: 950px ) {
    #drinkTable {
        width: 80%;
    }
    #addDrink {
        width: 80%;
    }
    header {
        height: 45px;
    }
    header img {
        height: 35px;
        margin: 15px;
    }
    header li {
        margin: 1px;
    }
    header li a {
        line-height: 45px;
        font-size: 15px;
        padding: 0px 8px;
    }
}

@media screen and ( max-width: 1100px ) and ( min-width: 951px ) {
    #drinkTable {
        width: 80%;
    }
    #addDrink {
        width: 80%;
    }
    header {
        height: 55px;
    }
    header img {
        height: 45px;
        margin: 20px;
    }
    header li {
        margin: 6px;
    }
    header li a {
        line-height: 55px;
        font-size: 16px;
        padding: 0px 10px;
    }
}

@media screen and ( max-width: 1300px ) and ( min-width: 1101px ) {
    #drinkTable {
        width: 80%;
    }
    #addDrink {
        width: 80%;
    }
    header {
        height: 65px;
    }
    header img {
        height: 50px;
        margin: 23px;
    }
    header li {
        margin: 11px;
    }
    header li a {
        line-height: 65px;
        font-size: 17px;
        padding: 0px 10px;
    }
}

@media screen and ( max-width: 1500px ) and ( min-width: 1301px ) {
    #drinkTable {
        width: 75%;
    }
    #addDrink {
        width: 75%;
    }
    header {
        height: 75px;
    }
    header img {
        height: 60px;
        margin: 27px;
    }
    header li {
        margin: 15px;
    }
    header li a {
        line-height: 80px;
        font-size: 16px;
        padding: 0px 10px;
    }
}

@media screen and ( max-width: 1700px ) and ( min-width: 1501px ) {
    #drinkTable {
        width: 75%;
    }
    #addDrink {
        width: 75%;
    }
    header {
        height: 85px;
    }
    header img {
        height: 78px;
        margin: 30px;
    }
    header li {
        margin: 24px;
    }
    header li a {
        line-height: 85px;
        font-size: 19px;
        padding: 0px 10px;
    }
}






