#addDrink{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#addDrink td, #addDrink th {
    border: 1px solid #ddd;
    padding: 8px;
}

#addDrink tr:nth-child(even){
    background-color: beige;
}

#addDrink tr:hover{
    background-color: #ddd;
}

#addDrink th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #4CAF50;
    color: white;
}

#drinkTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#drinkTable td, #addDrink th {
    border: 1px solid #ddd;
    padding: 8px;
}

#drinkTable tr:nth-child(even){
    background-color: beige;
}

#drinkTable tr:hover{
    background-color: #ddd;
}

#drinkTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align:center;
    background-color: #4CAF50;
    color: white;
}